body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:955px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#2457A8;
  text-align:center;
}
#u0 {
  position:absolute;
  left:208px;
  top:204px;
  width:747px;
  height:94px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#2457A8;
  text-align:center;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:386px;
  top:408px;
  width:376px;
  height:125px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:24px;
}
#u5 {
  position:absolute;
  left:107px;
  top:0px;
  width:264px;
  height:24px;
  text-align:center;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:260px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:24px;
  width:107px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:24px;
}
#u9 {
  position:absolute;
  left:107px;
  top:24px;
  width:264px;
  height:24px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:260px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:48px;
  width:107px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:24px;
}
#u13 {
  position:absolute;
  left:107px;
  top:48px;
  width:264px;
  height:24px;
  text-align:center;
}
#u14 {
  position:absolute;
  left:2px;
  top:3px;
  width:260px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:72px;
  width:107px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:24px;
}
#u17 {
  position:absolute;
  left:107px;
  top:72px;
  width:264px;
  height:24px;
  text-align:center;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:260px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:96px;
  width:107px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:24px;
}
#u21 {
  position:absolute;
  left:107px;
  top:96px;
  width:264px;
  height:24px;
  text-align:center;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:260px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:55px;
}
#u24 {
  position:absolute;
  left:442px;
  top:122px;
  width:104px;
  height:55px;
}
#u25 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u26 {
  position:absolute;
  left:556px;
  top:128px;
  width:145px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
