.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
.box_1 {
}
.label {
  font-size:14px;
  text-align:left;
}
.icon {
}
.box_2 {
}
.image {
}
.primary_button {
  color:#FFFFFF;
}
.list_box {
  color:#000000;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.line {
}
.arrow {
}
.ellipse {
}
.link_button {
  color:#169BD5;
}
.button {
}
.box_3 {
}
.table_cell {
}
.checkbox {
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
._形状 {
}
._表格 {
}
._单元格 {
}
.image1 {
}
._垂直线 {
}
.flow_shape {
}
.connector {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
.menu_item {
}
.html_button {
  text-align:center;
}
._连接线 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._提交按钮 {
  color:#000000;
}
._图片 {
  color:#000000;
}
._默认样式 {
}
._文本链接 {
  color:#0000FF;
}
._文本段落1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._文本框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._图片1 {
  font-size:13px;
  color:#000000;
}
._形状1 {
  font-size:13px;
  color:#000000;
}
._单元格1 {
  font-size:13px;
  color:#000000;
}
._表格1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._树节点 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.heading_2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.ellipse1 {
}
